.portfolio {
  opacity: 0;
  padding: em(109) em(20);
  transform: translate3d(0, 50%, 0);

  &--loaded {
    transform: translate3d(0, 0, 0);
    opacity: 1;
    animation: projects-load 1s ease-in-out;
  }

  @media screen and (max-width: $mobile) {
    padding: em(109) 0 0;
  }
}

.projects__measure,
.projects__card {
  width: 25%;

  @media screen and (max-width: $tablet) {
    width: 50%;
  }

  @media screen and (max-width: $mobile) {
    width: 100%;
  }
}
