$color-primary: #58585a;
$color-secondary: #e7e7e8;
$color-alt: #f4f2e9;

$font-light: 'calibre-light', sans-serif;
$font-regular: 'calibre-regular', sans-serif;
$font-medium: 'calibre-medium', sans-serif;

$spacing: 20px;

$mobile: 600px;
$tablet: 1024px;
