@font-face {
  font-family: 'calibre-light';
  src:  url('assets/fonts/CalibreWeb-light.woff2') format('woff2'),
        url('assets/fonts/CalibreWeb-light.woff') format('woff'),
        url('assets/fonts/CalibreWeb-light.eot') format('eot');
}

@font-face {
  font-family: 'calibre-regular';
  src:  url('assets/fonts/CalibreWeb-regular.woff2') format('woff2'),
        url('assets/fonts/CalibreWeb-regular.woff') format('woff'),
        url('assets/fonts/CalibreWeb-regular.eot') format('eot');
}

@font-face {
  font-family: 'calibre-medium';
  src:  url('assets/fonts/CalibreWeb-medium.woff2') format('woff2'),
        url('assets/fonts/CalibreWeb-medium.woff') format('woff'),
        url('assets/fonts/CalibreWeb-medium.eot') format('eot');
}
